@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.btn{
  @apply flex justify-center items-center gap-2 capitalize text-white py-2 px-6 rounded-md transition-all shadow-lg whitespace-nowrap
}

.btn-primary{
  @apply bg-sky-600 hover:bg-sky-500
}

.btn-secondary{
  @apply bg-slate-800 hover:bg-slate-700
}

.btn-outline{
  @apply border border-slate-600 hover:bg-slate-800
}

.bubble{
  @apply absolute -z-10 rounded-full blur-3xl opacity-20
}

.social-link{
  @apply w-4 md:w-5 lg:w-6 h-4 md:h-5 lg:h-6 hover:text-sky-600 hover:-translate-y-1 transition-all
}
.icon-contact{
  @apply flex flex-row lg:justify-center lg:items-center justify-start items-start gap-2
}
.Footer-contact{
  @apply text-lg text-white 
}